.caixa{
    background-color: #3F51B5;
}

.titulo{
   color:#964429 !important;
   font-weight: bold !important;
}

.botao{
    border-color:#964429 !important;
    background-color: #009DDC;
    color: #964429 !important;
}

.postagens{
    background-color:#F7F0D9;
}
