.imagem2{
    background-image: src"imagens/";
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
    color: #0F8AC4 !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.caixa{
    background-color: #F7F0D9;
}

.nome{
    color: #0F8AC4 !important;
}

